* {

  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;


}

h2 {

  font-size: 1.25rem;
}

.Cardbackground4oneColor {
  display:flex;
  justify-content: flex-start;
  border-radius: 5px;
 
  display: inline-block;
  padding:0.5rem;
  font-size: 1.25rem;
 border:solid 2px black;
 width: 300px;
 min-height: 200px;
 margin: 0.5rem; 


}

.textbackgroundforoneColor {

  background-color: #bab9c1;
  display: inline-block;
  padding:1rem;
  border-radius: 5px;
  max-width: 50%;

}

.Cardbc {

  background-color: #a5a4a9;
  display: inline-block;
  padding:2rem;
  border-radius: 5px;
  margin:2rem;
  

}

.textbg {

  background-color: #6cc4c4;
  border-radius: 5px;
  display: inline-block;
  padding:0.25rem;
  margin:1rem;
 
  }

  .text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
  }