* {

  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;


}

h2 {

  font-size: 1.25rem;
}

.color-container {
  display: flex;  /* Makes the items line up next to each other */
  
  gap: 2px; /* Adds space between colors */
}

.Cardbackground4oneColor {
  display:flex;
  justify-content: flex-start;
  border-radius: 15px;
 
  display: inline-block;
  padding:0.5rem;
  font-size: 1.25rem;
 border:solid 2px rgb(9, 8, 8);
 width: 250px;
 height: 100px;
 margin: 0.5rem; 


}

.textbackgroundforoneColor {
  font-size: small;
  line-height: 3px;
  background-color: #bab9c1;
  display: inline-block;
  padding:1rem;
  border-radius: 15px;
  max-width: 50%;
  height: 80px;
  text-align: start;
}

.Cardbc {

  background-color: #a5a4a9;
  display: inline-block;
  padding:2rem;
  border-radius: 5px;
  margin:2rem;
  text-align: left;
  

}

.textbg {

  display: flex;
  justify-content: center;
  background-color: #6cc4c4;
  border-radius: 5px;
  padding:0.25rem;
  margin:1rem;
 
  }

  .text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
  }